/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0%;
	padding: 0;
}
body {
	font-family: 'Crimson Text', serif;
}

a {
	text-decoration: none;
	color: #369;
}

section {
	margin: 0 10%;
	width: 70%;
	display: block;
}

hr {
	background: white url(../img/img-hr.png) no-repeat 50%;
	border: 0;
	height: .5em;
	clear: both;
}

sup {
	color: #999;
	font-weight: normal;
	font-size: 11px;
}

nav ul {
	float: right;
	margin: 2.25%;
	margin-left: 0;
	padding-right: 1.5%;
	padding-left: 0;
	width: 36%;
}

nav li {
	margin: 0 1.5%;
	padding-left: 0;
	font-size: 12px;
	display: inline;
	color: #369;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

nav li a:hover {
	color: #18AFE0;
}

.signin {
	color: #18AFE0;
}

.signin:hover {
	color: #369;
}

header {
	clear: both;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

header h1 {
	font-size: 58px;
	line-height: 1em;
	letter-spacing: -.03em;
	margin: 1% 12% 1%;
	text-align: center;
	width: 75%;
}

header h5 {
	font-size: 20px;
	line-height: 1.5em;
	margin: 1% 0 -2.5%;
}

.products {
	text-align: center;
	height: 288px;
	margin: 0 24.5% -.5%;
	padding-bottom: 3%;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.products h3 {
	font-size: 21px;
	color: #369;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 3% 0;
}

.products h3 span {
	text-decoration: underline;
}

.products h4 {
	margin: 3% 0 3%;
	font-size: 14px;
	color: #C00;
}

.products p {
	color: #222;
	font-size: 14px;
	margin: 5px 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.products a {
	width: 18%;
	margin: 6% 2% .25%;
	float: left;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #EFEFEF;
	-moz-box-shadow: 0 0 5px #efefef;
	box-shadow: 0 0 5px #EFEFEF;
	padding: 20px 10px 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EFEFEF));
	background: -moz-linear-gradient(top, white, #EFEFEF);
}

.customers {
	margin: 0 15% 1%;

}

.customers h2 {
	color: #232323;
	font-size: 47px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -.02em;
	text-align: center;
}

.customers p {
	text-align: left;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.3em;
	color: #666;
	margin: 0 0 1em 0;	
}

.meet {
	position: absolute;
	margin-left: -7%;
	margin-top: -8%;
}

.meet a {
	display: block;
	width: 130%;
	height: 104px;
	background: url('../img/img-customers.png') no-repeat 0 0;
	text-indent: -1000em;
}

.meet a:hover {
	background-position: 0 100%;
}

.meet p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 10px;
	font-weight: 400;
	margin-left: 10%;
	width: 130%;
	line-height: 1.3em;
	text-align: center;
	color: #369C;
}

.meet p:hover {
	color: #69C;
	text-decoration: underline;
}

.arrow-left {
	position: relative;
	top: -35px;
	left: 5%;
}

.globe {
	float: right;
	vertical-align: top;
}

.logos {
	margin: 0 5% 1%;
}

.manifesto {
	margin: 0 15% 2%;
	overflow: hidden;
}
 .manifesto h2 {
	color: #232323;
	font-size: 48px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
	margin: 2% 0;
 }

 .column1 {
	width: 43%;
	float: left;
	margin: 0 5%;
	text-align: center;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
 }

.column2 {
	margin-right: 0px;
	width: 43%;
	float: left;
	text-align: center;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
 }

 .manifesto h3 {
	padding-left: .55%;
	width: 7.5%;
	float: left;
	font-size: 58px;
	font-weight: 600;
	line-height: normal;
	margin: -4% 6% 4% 1%;
	color: #CCC;
 }

 .manifesto h4 {
 	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 16px;
	margin: 3% 0 0;
	color: #C00;
	text-align: left;
 }

 .manifesto p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: left;
	line-height: 1.4em;
	font-size: 12px;
	color: #222;
 }

  .rework {
	margin: 1% 15% -10%;
 }
 
 .rework  h2{
	color: #232323;
	font-size: 48px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
	margin: 0 5%;
 }
 
.book {
	width: 32.38%;
	height: auto;
	float:left;
	margin-top: 3%;
	margin-bottom: -3%;
 }
 
.quotes {
	padding-top: 5%;
	text-align: center;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
	width: 90%;
}

.quotes h3 {
	color: #888;
	font-weight: normal;
	font-family: "Times New Roman", Georgia, serif;
	font-style: italic;
	font-size: 22px;
	margin: 5% 0 1%;
}

.quotes p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
	margin: 0;	
}

 .arrow-right {
	width: 69px;
	height: 36px;
	position: relative;
	top: -465px;
	left: 88%;
}

.arrow-right img {
	margin-top: 35%;
}

.crumple {
	position: relative;
	top: -425px;
	left: 95%;
	width: 15%;
}

.crumple img {
	margin-top: -600%;

}

.crumple p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 10px;
	margin: 0;
	text-align: center;
	line-height: 1.5em;
	color: #222;
 }

.crumple p:hover {
	color: #69C;
	text-decoration: underline;
}

.offerings h2 {
	color: #232323;
	width: 90%;
	margin: 1% 12%;
	font-size: 48px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
 }

 .main-offerings {
	width: 90%;
	height: 23%;
	clear: both;
	overflow: hidden;
	margin: 2% 29% 4%;
 }

  .main-offerings a {
	width: 17.68%;
	margin: .55%;
	float: left;
	padding: 0 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;	
	text-align: center;
	line-height: 1.5em;
}

.main-offerings h3 {
	font-size: 21px;
	margin: .33% 0 0 1.11%;
	color: #222;	
	font-weight: bold;
}

.main-offerings h3:hover {
	color: #69C;
}

.main-offerings h4 {
	margin: .55% 0;
	font-size: 14px;
	color: #C00;
}

.main-offerings p {
	color: #666;
	font-size: 12px;
	line-height: 1.4em;
	margin-top: 0;	
}

.offerings .column1 h3, 
.offerings .column2 h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid #E8E8E8;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 14px;
	margin: 5px 0;
	color: #C00;
}

.offerings .column1 {
	float: left;
	width: 33.15%;
	padding: 0;
	margin-right: 8%;
	margin-left: 20%;
	margin-bottom: 1%;
	margin-top: -2%;
	text-align: center;
}

.offerings .column2 {
	float: left;
	width: 33.15%;
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 1%;
	margin-top: -2%;
	text-align: center;
}

.offerings .column1 li,
.offerings .column2 li {
	padding: .884% 0;
	list-style-type: none;
	margin: 0;
	font-size: 12px;
}

.offerings .column1 a,
.offerings .column2 a {
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	color: #222;
}

.offerings .column a:hover {
	color: #69C;
}

.offerings .column1 small,
.offerings .column2 small {
	color: #666;
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

footer {
	margin: 1% auto;
	width: 90%;
	display: block;
	text-align: center;
	line-height: 1.5em;
}

footer h3 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 14px;
	margin: .55% 0;
	color: #C00;
}

footer li {
	list-style-type: none;
	font-size: 12px;
	margin: 0;
	padding: .55% 0;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #69C;
}

footer p {
	font-size: 10px;
	color: #999;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin-top: 0;
}

a.hover-box {
	box-shadow: 0 0 1.66% #333;
}

.hidden {
	display: none;
}

div.extra {
	clear: both;
	width: 90%;
	height: 18%;
	margin: 0 auto;
	padding: .66% 0;
	text-align: center;
}

.extra span {
	color: #336699;
	text-decoration: underline;
}

.extra h1 {
	color: #222;
	margin: 1.105% 0 1.6575% 0;
	font-size: 46px;
	letter-spacing: -1px;
	font-weight: 500;
	font-style: normal;
	clear: both;
	line-height: 1.0em;
}

.extra p {
	font-size: 15px;
	color: #222;
	line-height: 1.4em;
	margin-top: .5525%;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: center;
}

.right-arrow {
	position: relative;
	top: .5525%;
	right: 15.47%;
	z-index: 1;
}

.right-arrow-b {
	position: absolute;
	top: 32.045%;
	right: 56.355%;
	z-index: 1;
}

.left-arrow {
	position: absolute;
	top: 32.045%;
	right: 48.62%;
	z-index: 1;
}

.pbox {
	font-size: 14px;
	line-height: 1.4em;
	margin-top: .5525%;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 7px 0;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
	color: #336699;
}

/*responsive quaries*/

@media (max-width: 415px) {

	nav ul {
	margin: 2.25%;
	margin-left: 100%;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

nav li {
	margin: 0 5% 0 1%;
	padding-left: 6%;
	font-size: 12px;
	display: inline;
	color: #369;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.story,
.system {
		display: none;
	}

header h1 {
	font-size: 50px;
	margin: 1% 12% 1%;
}

header img {
	width: 80%;
	margin: 5% 0;
}

.products a {
	width: 100%;
	margin: 5% 2% 5% -16.5%;

}

.customers > p {
	margin-top: 20px;
}
.meet {
	margin-left: 20%;
	margin-top: 5%;
}

.meet a {
	display: none;
}

.meet p {
	display: none;
}

.globe,
.arrow-left,
.logos {
	display: none;
}

.logos {
	width: 350px;
	margin: 0 5% 1%;
}

.manifesto h3 {
	padding-left: .55%;
	width: 7.5%;
	float: left;
	font-size: 58px;
	font-weight: 600;
	line-height: normal;
	margin: -4% 6% 11.5% 1%;
	color: #CCC;
 }

.column1 {
	width: 100%;
	float: left;
	margin: 0 1%;
	text-align: center;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
 }

.manifesto h3 {
	padding-left: .55%;
	width: 7.5%;
	float: left;
	font-size: 58px;
	font-weight: 600;
	line-height: normal;
	margin: -4% 6% 11.5% 1%;
	color: #CCC;
 }

.column2 {
	width: 100%;
	float: left;
	margin: 0 1%;
	text-align: center;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
 }

 .manifesto p {
 	margin-left: 43px;
 }

 .rework {
	margin-bottom: 20px;
 }
 
 .crumple,
 .arrow-right {
 	display: none;
 }

 .book {
	float:none;
	margin-bottom: -50px;
 }

.quotes h3 {
	margin: 5% 0 1% 25px;
	font-size: 24px;
 }

 .offerings {
	margin: auto;
}

.offerings h2 {
	margin: 10px auto 0;
}

 .main-offerings {
 	margin: auto;
 }
 .main-offerings a {
	width: 100%;
	margin: 10% 2% 10% -5%;
}

.offerings .column1 {
	width: 44%;
	margin-right: 4%;
	margin-left: 2%;
	margin-bottom: 1%;
	margin-top: -2%;
	line-height: 1.25em;
}

.offerings .column2 {
	width: 44%;
	margin-right: 2%;
	margin-left: 4%;
	margin-bottom: 1%;
	margin-top: -2%;
	line-height: 1.8em;
}

footer ul, h3 {
	display: none;
}

}

}

/*.offerings .column1 {
	float: left;
	width: 33.15%;
	padding: 0;
	margin-right: 8%;
	margin-left: 20%;
	margin-bottom: 1%;
	margin-top: -2%;
	text-align: center;
}

.offerings .column2 {
	float: left;
	width: 33.15%;
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 1%;
	margin-top: -2%;
	text-align: center;
}
*/
